
<h3>BENVENUTI NEL SITO DEL CONSORZIO DELLA RETE DEI LABORATORI UNIVERSITARI DI INGEGNERIA SISMICA</h3>
<p>La Rete dei Laboratori Universitari di Ingegneria Sismica (ReLUIS),
  costituita con atto convenzionale sottoscritto il 17 aprile 2003,
  è un consorzio interuniversitario che ha lo scopo di coordinare
  l'attività dei Laboratori Universitari di Ingegneria Sismica,
  fornendo supporti scientifici, organizzativi, tecnici e finanziari alle Università consorziate
  e promovendo la loro partecipazione alle attività scientifiche
  e di indirizzo tecnologico nel campo dell'Ingegneria Sismica, in accordo con
  i programmi di ricerca nazionali ed internazionali in questo settore.</p>
